@import "common";

@mixin avantaj {
    .block {
        display: flex;
        margin-bottom: 100px;
        .icons-block {
            width: 50%;
            margin-right: 20px;
            order: 1;
            .icons-list {
                list-style: none;
                    .item {
                        margin: 20px 0;
                        padding-left: 20px;
                        .item-icon {
                            display: table-cell;
                            padding: 0 20px 10px 0;
                        }
                        .item-text {
                            display: table-cell;
                            vertical-align: middle;
                            h3 {
                                font-size: 28px;
                                color: #333;
                            }
                        }
                    }
            }
        }
        .image-block {
            order: 2;
            width: 50%;
            img {
                width: 100%;
            }
        }
    }
}

#avantaj {
    @include avantaj;

    @media screen and (max-width: $break-425) {
        .block {
            margin-bottom: 80px;
            flex-direction: column;
            .icons-block, .image-block {
                width: 100%;
            }
            .icons-block {
                order: 2;
                margin-top: 50px;
                .icons-list {
                    .item {
                        .item-icon {
                            width: 20%;
                        }
                    }
                }
            }
            .image-block {
                order: 1;
            }
        }
    }
}