@mixin advantage {
    
    // padding: 15px;
    margin: auto;
    overflow: hidden;

    .col4 {
        float: left;
        width: calc(25% - 11px);
        &:last-child {
            margin-right: 0;
        }
    }

    .advantage-item {
        @include advantage-item;
    }
}

@mixin advantage-item {
    
    text-decoration: none;
    padding: 20px 5px 10px 5px;
    border-radius: 2px;
    text-align: center;
    border-right: 1px solid #e1e1e1;
    background: #fff;
    &:last-child {
        border-right: none;
    }
    
    & > img {
        height: 48px;
    }

    h3 {
        font-size: 20px;
        margin-top: 15px;
        color: #444;
        font-weight: 500;
    }
    
    p {
        margin-top: 15px;
        font-size: 18px;
        color: #555;
        line-height: 1.6;
        font-weight: 400;
        height: 40px;
    }
    
    .detayli-incele {
        
        background: #fff;
        color: #FF595F;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        margin-top: 15px;
        display: block;

        img {
            height: 14px;
            margin: 0;
        }
    }
}

@mixin break-320 {
    .col4 {
        width: calc(50% - 11px);
        &:nth-child(2n+1) {
            border-right: none;
        }
        img {
            height: 36px;
        }
        h3 {
            font-size: 17px;
        }
        p {
            font-size: 16px;
            line-height: 1.4;
            font-weight: 300;
            height: 40px;
        }
        .detayli-incele {
            font-size: 13px;
            img {
                height: 9px;
            }
        }
    }
}

#avantaj {
    
    @include advantage;

    @media screen and (max-width: $break-320) {
        @include break-320;
    }

    @media screen and (min-width: $break-320 + 1px) and (max-width: $break-425) {
        @include break-320;
        .col4 {
            p {
                height: 50px;
            }
        }
    }

    @media screen and (min-width: $break-425 + 1px) and (max-width: $break-768) {
        .col4 {
            p {
                font-size: 17px;
                font-weight: 300;
                line-height: 1.3;
            }
            .detayli-incele {
                font-size: 14px;
                img {
                    height: 12px;
                }
            }
        }
    }

    @media screen and (min-width: $break-768 + 1) and (max-width: $break-1024) {
        .col4 {
            p {
                font-size: 18px;
                height: 50px;
                font-weight: 300;
            }
        }
    }




    // @media screen and (max-width: $break-mobile) {
    //     .advantage-item {
    //         width: calc(50% - 20px) !important;
    //         height: 150px;
    //         margin-bottom: 15px;
    //         &:nth-child(2n+2) {
    //             margin-right: 0 !important;
    //         }
    //     }
    // }


    // @media screen and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
    //     margin-top: -60px !important;
    //     .advantage-item {
    //         width: calc((100% - 90px) / 4) !important;
    //         border: none;
    //         box-shadow: 0 0 25px rgba(0,0,0,.1);
    //         height: 160px;
    //         h3 {
    //             font-size: 16px;
    //         }
    //         p {
    //             font-size: 14px;
    //             line-height: 18px;
    //         }
    //     }
    // }

    // @media screen and (min-width: $break-tablet + 1) and (max-width: $break-laptop) {
    //     margin-top: -60px !important;
    //     width: 768px;
    //     .advantage-item {
    //         width: calc((100% - 90px) / 4) !important;
    //         box-shadow: 0 0 25px rgba(0,0,0,.1);
    //         padding-bottom: 20px;
    //         .icon {
    //             height: 40px;
    //         }
    //         h3 {
    //             font-size: 16px;
    //         }
    //         p {
    //             font-size: 14px;
    //             line-height: 18px;
    //             padding: 0 5px;
    //             font-weight: 400;
    //         }
    //         .detayli-incele {
    //             font-size: 12px;
    //             font-weight: 400;
    //             img {
    //                 height: 9px;
    //             }
    //         }
    //     }
    // }

    // @media screen and (min-width: $break-laptop + 1) {
    //     .advantage-item {
    //         width: calc((100% - 100px) / 4) !important;
    //         padding-bottom: 20px;
    //         .icon {
    //             height: 48px;
    //         }
    //         h3 {
    //             font-size: 18px;
    //         }
    //         p {
    //             font-size: 14px;
    //             line-height: 1.5;
    //             padding: 0 5px;
    //             font-weight: 400;
    //         }
    //         .detayli-incele {
    //             font-size: 14px;
    //             font-weight: 400;
    //             img {
    //                 height: 12px;
    //             }
    //         }
    //     }
    // }



}
