$link-color: #489DC3;
$main-color: #fe6161;
$second-color: #68ccf7;
$ne-oderim: #484d5a;
$hover-color: #04d4c0;

// $table-td: #bbe7ec;
$table-td: #04d4c0;
$table-td-hover: $main-color;
$table-td-current: #0c9689;
$table-td-current: #de9aad;
$table-td-locked: #9ac1be;
$table-td-locked-text: #6da9a3;

$table-td-disable: #ecf4f5;