$break-small: 375px;
$break-mobile: 425px;
$break-tablet: 768px;
$break-laptop: 1024px;

$break-320: 320px;
$break-375: 375px;
$break-425: 425px;
$break-768: 768px;
$break-1024: 1024px;


@import "fonts";
@import "colors";


