$break-small: 375px;
$break-mobile: 425px;
$break-tablet: 768px;
$break-laptop: 1024px;

$break-320: 320px;
$break-375: 375px;
$break-425: 425px;
$break-768: 768px;
$break-1024: 1024px;


@import "fonts";
@import "colors";


* {
  padding: 0;
  margin: 0;
  font-family: "gt";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #484848
}

body.arama-sonuclari {
  background: #000;
  min-height: 100%;

  .black-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1);
    background-size: cover;
    opacity: 0.8;
    z-index: 9999;
  }

  footer {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
  }
  #ui-datepicker-div {
    display: none;
  }

  #araclar {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: none;
    width: 90%;
    left: 5%;
  }

}


a {
  text-decoration: none;
}

.no-margin-top {
  margin-top: 0 !important;
}

.text-center {
  text-align: center;
}




#ucretsiz-yakit, #yol-yardim {
  
    @media screen and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
      img {
        float: left;
        width: 45%;
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
  
    @media screen and (min-width: $break-tablet + 1) and (max-width: $break-laptop)  {
      img {
        float: left;
        width: 450px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
        line-height: 1.6;
      }
    }
  
    @media screen and (min-width: $break-laptop + 1) {
      img {
        float: left;
        width: 600px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 20px;
        line-height: 1.6;
        font-weight: 200;
      }
    }
  
  
  }
  


#en-ucuz-arac-kiralama {

  @media screen and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
    overflow: hidden;
    img {
      width: 50%;
      float: right;
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: $break-tablet + 1) and (max-width: $break-laptop) {
    overflow: hidden;
    img {
      width: 450px;
      float: right;
      margin-left: 20px;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 24px;
    }
    p {
      line-height: 1.3;
    }
  }

  @media screen and (min-width: $break-laptop + 1){
    overflow: hidden;
    img {
      width: 600px;
      float: right;
      margin-left: 20px;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 20px;
      line-height: 1.6;
      font-weight: 200;
    }
  }
}

#aracla-club {
  position: relative;
  height: 400px;
  background: url(../img/aracla-club.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;

  h3 {
    font-size: 24px;
    color: #fff;
  }
  span {
    font-size: 20px;
    font-family: 300;
    display: block;
    color: #fff;
  }
}

#aracla-club--bottom {
  position: relative;
  margin-top: -150px;
  z-index: 1;
  .inner {
    max-width: 960px;
  }
  .items {
    overflow: hidden;
    .item {
      float: left;
      width: calc(25% - 20px);
      padding: 15px 10px;
      .item--inner {
        background: #fff;
        padding: 15px;
        box-shadow: 0 0 25px rgba(0,0,0,.1);
        text-align: center;
        h3 {
          font-size: 16px;
          line-height: 1.6;
          color: #555;
          margin-bottom: 10px;
        }
      }
    }
  }

  @media screen and (max-width: $break-mobile) {
    .items {
      .item {
        width: calc(50% - 20px);
      }
    }
  }

  @media screen and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
    .items {
      .item {
        h3 {
          font-size: 13px !important;
        }
      }
    }
  }
}


.video {
  background: #111;
  overflow: hidden;
  position: relative;
  height: 480px;
  margin-top: 40px;
  max-width: 1200px;
  margin: auto;
  video {
    width: 100%;
    background: url(../img/video-thumbnail.jpg) center top no-repeat;
    background-size: cover;
  }
  video[poster] {
    width: 100%;
    height: 100%;
  }
  .center {
    position: absolute;
    left: 0;
    top: calc(50% - 70px);
    width: 100%;
    height: 100px;
    text-align: center;
  }
  .play-button {
    width: 48px;
    height: 48px;
    background: url(../img/play-button.svg) no-repeat;
    background-size: cover;
    display: block;
    margin: auto;
  }
  h3 {
    color: #fff;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 15px;
    text-shadow: 0 0 5px rgba(0,0,0,.1);
  }

  @media screen and (max-width: 320px) {
    height: 300px;
  }

}





.aracla-card {
  @media screen and (min-width: $break-mobile + 1) and (max-width: $break-laptop) {
    overflow: hidden;
    img {
      width: 450px;
      float: left;
      margin-right: 20px;
    }
    p {
      font-size: 19px;
      line-height: 1.7;
    }
  }

  @media screen and (min-width: $break-laptop + 1) {
    overflow: hidden;
    img {
      width: 600px;
      float: left;
      margin-right: 20px;
    }
    p {
      font-size: 19px;
      line-height: 1.7;
    }
  }
}



#keywords {

  @media screen and (max-width: $break-small) {}
  @media screen and (min-width: $break-small + 1) and (max-width: $break-mobile) {}
  @media screen and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
    .col {
      width: 31%;
      float: left;
      margin-right: 2%;
    }
  }
  @media screen and (min-width: $break-tablet + 1) and (max-width: $break-laptop) {
    .col {
      width: 31%;
      float: left;
      margin-right: 2%;
    }
  }
  @media screen and (min-width: $break-laptop + 1) {
    .col {
      margin-top: 30px;
      width: 31%;
      float: left;
      margin-right: 2%;
      h3 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      a {
        font-size: 18px;
        font-weight: 300;
      }
    }
  }

  padding: 15px;
  a {
    font-weight: 400;
    font-size: 15px;
    color: #888;
    display: block;
    margin-bottom: 5px;
  }
  h3 {
    margin-bottom: 5px;
  }
  .col {
    margin-bottom: 15px;
  }

}


footer {
  background: #062232;
  padding: 24px;
  color: #fff;
  .row {
    overflow: hidden;
  }
  .inner {
    max-width: 1200px;
    margin: auto;
  }
  .social-and-contact {
    float: left;
    .phone {
      span {
        font-size: 14px;
        display: block;
        font-weight: 300;
        color: #fff;
      }
      h4 {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
      }
    }
    .social-buttons {
      overflow: hidden;
      margin-top: 20px;
      a {
        float: left;
        margin-right: 10px;
      }
    }
  }
  .apps-and-visa {
    float: right;
    a {
      display: block;
      margin-bottom: 5px;
    }
  }

  ul {
    float: left;
    margin-top: 30px;
    &:last-child {
      float: right;
    }
    li {
      list-style: none;
      a {
        color: #fff;
        font-size: 16px;
        margin-bottom: 5px;
        display: block;
        font-weight: 200;
      }
    }
  }

  .lead {
    font-size: 16px;
    color: #5687A3;
    margin-top: 30px;
    line-height: 24px;
    font-weight: 400;
  }

  @media screen and (min-width: $break-mobile + 1) and (max-width: $break-laptop)  {
    overflow: hidden;
    #footer-links {
      float: left;
      width: 45%;
      ul {
        margin-top: 0;
      }
    }
    #contacts {
      float: right;
      width: 40%;
    }
    #lead-row {
      display: block;
      width: 100%;
    }
  }

  @media screen and (min-width: $break-laptop + 1) {
    overflow: hidden;
    #footer-links {
      float: left;
      width: 45%;
      ul {
        margin-top: 0;
        a {
          font-size: 18px;
          line-height: 24px;
          font-weight: 300;
        }
      }
    }
    #contacts {
      float: right;
      width: 40%;
    }
    #lead-row {
      display: block;
      width: 100%;
    }

    .apps-and-visa {
      img {
        width: 120px;
      }
    }
  }


}


article {
  max-width: 768px;
  margin: auto;
  h2 {
    font-size: 36px !important;
  }
  h3 {
    font-size: 28px !important;
  }
  h4 {
    font-size: 24px !important;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px !important;
    font-size: 19px !important;
    line-height: 1.6 !important;
    font-weight: 300 !important;
    color: #555;
    strong {
      font-weight: 500;
    }
  }
  section {
    margin-bottom: 36px;
  }
  img {
    width: 100% !important;
  }
}

.slick-arrow {
  position: absolute;
  background-size: 64px !important;
  width: 72px !important;
  height: 72px !important;
  border: none;
  text-indent: -10000px;
  z-index: 1;
  top: 170px;
  outline: none;
  cursor: pointer;
  &.slick-next {
    background: url(../img/icons/slider-right-arrow.svg) no-repeat;
    right: -90px;
  }
  &.slick-prev {
    background: url(../img/icons/slider-left-arrow.svg) no-repeat;
    left: -100px;
  }
}
.slick-dots {
  display: none !important;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.modal.active {
  display: block;
}

.modal.active > .modal--content {
  top: 20px;
  opacity: 1;
}

.modal .modal--content {
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  max-width: calc(100% - 80px);
}

.modal .modal--content .modal--content--title {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.modal .modal--content .modal--content--title .title {
  float: left;
  font-weight: 500;
  font-size: 20px;
}

.modal .modal--content .modal--content--title .close {
  float: right;
  width: 18px;
  height: 18px;
  background: url(../img/icons/close.svg) no-repeat;
  background-size: cover;
}