$break-small: 375px;
$break-mobile: 425px;
$break-tablet: 768px;
$break-laptop: 1024px;

$break-320: 320px;
$break-375: 375px;
$break-425: 425px;
$break-768: 768px;
$break-1024: 1024px;


@import "fonts";
@import "colors";



// footer {
//   background: #062232;
//   padding: 24px;
//   color: #fff;
//   .row {
//     overflow: hidden;
//   }
//   .inner {
//     margin: auto;
//   }
//   .social-and-contact {
//     float: left;
//     .phone {
//       span {
//         font-size: 14px;
//         display: block;
//         font-weight: 300;
//         color: #fff;
//       }
//       h4 {
//         font-size: 20px;
//         font-weight: 500;
//         color: #fff;
//       }
//     }
//     .social-buttons {
//       overflow: hidden;
//       margin-top: 20px;
//       a {
//         float: left;
//         margin-right: 10px;
//       }
//     }
//   }
//   .apps-and-visa {
//     float: right;
//     a {
//       display: block;
//       margin-bottom: 5px;
//     }
//   }

//   ul {
//     float: left;
//     margin-top: 30px;
//     &:last-child {
//       float: right;
//     }
//     li {
//       list-style: none;
//       a {
//         color: #fff;
//         font-size: 16px;
//         margin-bottom: 5px;
//         display: block;
//         font-weight: 200;
//       }
//     }
//   }

//   .lead {
//     font-size: 16px;
//     color: #5687A3;
//     margin-top: 30px;
//     line-height: 24px;
//     font-weight: 400;
//   }

//   @media screen and (min-width: $break-mobile + 1) and (max-width: $break-laptop)  {
//     overflow: hidden;
//     #footer-links {
//       float: left;
//       width: 45%;
//       ul {
//         margin-top: 0;
//       }
//     }
//     #contacts {
//       float: right;
//       width: 40%;
//     }
//     #lead-row {
//       display: block;
//       width: 100%;
//     }
//   }

//   @media screen and (min-width: $break-laptop + 1) {
//     overflow: hidden;
//     #footer-links {
//       float: left;
//       width: 45%;
//       ul {
//         margin-top: 0;
//         a {
//           font-size: 18px;
//           line-height: 24px;
//           font-weight: 300;
//         }
//       }
//     }
//     #contacts {
//       float: right;
//       width: 40%;
//     }
//     #lead-row {
//       display: block;
//       width: 100%;
//     }

//     .apps-and-visa {
//       img {
//         width: 120px;
//       }
//     }
//   }


// }

