@mixin section {
    
    margin: auto;
    padding: 30px 15px;
    overflow: hidden;
    color: #484848;

    .inner {
        max-width: 1200px;
        margin: auto;
    }

    h2 {
        font-size: 25px;
        display: block;
        font-weight: 500;
        margin-bottom: 15px;
        & + p {
            margin-top: 0;
        }
    }
    
    h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
        & + p {
            margin-top: 0;
        }
    }
    
    h4 {
        font-size: 16px;
        font-weight: 500;
    }

    img {
        max-width: 100%;
        margin-bottom: 15px;
        & + p {
            margin-top: 0;
        }
    }

    p {
        margin-top: 10px;
        color: #666;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        strong {
            font-weight: 400;
        }
    }

}


.section {

    @include section;

    &#musait-araclar {
        max-width: 768px;

        h1 {
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 50px;
            text-align: center;
        }

        h2 {
            font-size: 28px;
        }

        ul {
            list-style: none;
            li {
                margin-bottom: 50px;
                a {
                    overflow: hidden;
                    display: block;
                    img {
                        float: left;
                        width: 60%;
                    }
                }
            }
        }
    }

    



    @media screen and (max-width: $break-425) {
        .inner {
            h2 {
                font-size: 22px;
            }
        }
        
    }



}
