.section {
    
    margin: auto;
    padding: 30px 15px;
    overflow: hidden;
    color: #484848;

    h2 {
        font-size: 48px;
        display: block;
        font-weight: 500;
        margin-bottom: 15px;
    }

    h3 {
        font-weight: 500;
        margin-bottom: 15px;
    }

    // img {
    //     max-width: 100%;
    // }


}
