.steps {
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background: #E5E9ED;
    border-bottom: 1px solid #e1e1e1;
    li {
        padding: 10px;
        float: left;
        width: calc(33.2% - 20px);
        border-right: 1px solid #ccc;
        height: 70px;
        &:last-child {
            border-right: none;
        }
        &.active {
            background: #537184;
            color: #fff;
        }
        .title {
            font-size: 21px;
            display: block;
            font-weight: 400;
            margin-bottom: 5px;
            color: inherit;
        }
        p {
            color: inherit;
            font-size: 16px;
            line-height: 1.4;
            color: inherit;
        }
    }
}